*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans',sans-serif;
    box-sizing: border-box;
} 
.cont{
    height: 100vh;
    width: 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1183%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cg mask='url(%26quot%3b%23SvgjsMask1185%26quot%3b)'%3e%3cpath d='M922.5 292.5L877.5 337.5L832.5 337.5L787.5 337.5L742.5 337.5M1012.5 292.5L967.5 337.5L922.5 337.5M877.5 292.5L832.5 247.5L787.5 247.5L742.5 247.5L697.5 247.5M967.5 292.5L922.5 247.5L877.5 247.5M1507.5 292.5L1462.5 292.5L1417.5 292.5L1372.5 292.5L1327.5 292.5L1282.5 292.5L1237.5 292.5L1192.5 292.5L1147.5 292.5L1102.5 292.5L1057.5 292.5L1012.5 292.5L967.5 292.5L922.5 292.5L877.5 292.5L832.5 292.5' stroke='url(%26quot%3b%23SvgjsLinearGradient1184%26quot%3b)' stroke-width='7.5'%3e%3c/path%3e%3cpath d='M821.25 292.5 a11.25 11.25 0 1 0 22.5 0 a11.25 11.25 0 1 0 -22.5 0zM731.25 337.5 a11.25 11.25 0 1 0 22.5 0 a11.25 11.25 0 1 0 -22.5 0zM911.25 337.5 a11.25 11.25 0 1 0 22.5 0 a11.25 11.25 0 1 0 -22.5 0zM686.25 247.5 a11.25 11.25 0 1 0 22.5 0 a11.25 11.25 0 1 0 -22.5 0zM866.25 247.5 a11.25 11.25 0 1 0 22.5 0 a11.25 11.25 0 1 0 -22.5 0z' fill='url(%26quot%3b%23SvgjsLinearGradient1184%26quot%3b)'%3e%3c/path%3e%3cpath d='M1462.5 247.5L1417.5 202.5L1372.5 202.5L1327.5 202.5L1282.5 202.5M1192.5 247.5L1147.5 202.5M1507.5 247.5L1462.5 247.5L1417.5 247.5L1372.5 247.5L1327.5 247.5L1282.5 247.5L1237.5 247.5L1192.5 247.5L1147.5 247.5L1102.5 247.5' stroke='url(%26quot%3b%23SvgjsLinearGradient1184%26quot%3b)' stroke-width='7.5'%3e%3c/path%3e%3cpath d='M1091.25 247.5 a11.25 11.25 0 1 0 22.5 0 a11.25 11.25 0 1 0 -22.5 0zM1271.25 202.5 a11.25 11.25 0 1 0 22.5 0 a11.25 11.25 0 1 0 -22.5 0zM1136.25 202.5 a11.25 11.25 0 1 0 22.5 0 a11.25 11.25 0 1 0 -22.5 0z' fill='url(%26quot%3b%23SvgjsLinearGradient1184%26quot%3b)'%3e%3c/path%3e%3cpath d='M1102.5 337.5L1057.5 337.5L1012.5 337.5M787.5 382.5L742.5 427.5L697.5 427.5L652.5 427.5L607.5 427.5M1507.5 337.5L1462.5 337.5L1417.5 337.5L1372.5 337.5L1327.5 337.5L1282.5 337.5L1237.5 337.5L1192.5 337.5L1147.5 337.5L1102.5 337.5L1057.5 382.5L1012.5 382.5L967.5 382.5L922.5 382.5L877.5 382.5L832.5 382.5L787.5 382.5L742.5 382.5' stroke='url(%26quot%3b%23SvgjsLinearGradient1184%26quot%3b)' stroke-width='7.5'%3e%3c/path%3e%3cpath d='M731.25 382.5 a11.25 11.25 0 1 0 22.5 0 a11.25 11.25 0 1 0 -22.5 0zM1001.25 337.5 a11.25 11.25 0 1 0 22.5 0 a11.25 11.25 0 1 0 -22.5 0zM596.25 427.5 a11.25 11.25 0 1 0 22.5 0 a11.25 11.25 0 1 0 -22.5 0z' fill='url(%26quot%3b%23SvgjsLinearGradient1184%26quot%3b)'%3e%3c/path%3e%3cpath d='M1147.5 157.5L1102.5 112.5L1057.5 112.5L1012.5 112.5L967.5 112.5M1012.5 157.5L967.5 202.5L922.5 202.5M1417.5 157.5L1372.5 112.5L1327.5 112.5M1507.5 202.5L1462.5 157.5L1417.5 157.5L1372.5 157.5L1327.5 157.5L1282.5 157.5L1237.5 157.5L1192.5 157.5L1147.5 157.5L1102.5 157.5L1057.5 157.5L1012.5 157.5L967.5 157.5L922.5 157.5L877.5 157.5' stroke='url(%26quot%3b%23SvgjsLinearGradient1184%26quot%3b)' stroke-width='7.5'%3e%3c/path%3e%3cpath d='M866.25 157.5 a11.25 11.25 0 1 0 22.5 0 a11.25 11.25 0 1 0 -22.5 0zM956.25 112.5 a11.25 11.25 0 1 0 22.5 0 a11.25 11.25 0 1 0 -22.5 0zM911.25 202.5 a11.25 11.25 0 1 0 22.5 0 a11.25 11.25 0 1 0 -22.5 0zM1316.25 112.5 a11.25 11.25 0 1 0 22.5 0 a11.25 11.25 0 1 0 -22.5 0z' fill='url(%26quot%3b%23SvgjsLinearGradient1184%26quot%3b)'%3e%3c/path%3e%3cpath d='M1237.5 382.5L1192.5 427.5L1147.5 427.5L1102.5 427.5L1057.5 472.5M1462.5 382.5L1417.5 427.5L1372.5 427.5L1327.5 427.5M967.5 427.5L922.5 472.5L877.5 472.5M1012.5 427.5L967.5 472.5M1282.5 382.5L1237.5 427.5L1192.5 472.5M1507.5 382.5L1462.5 382.5L1417.5 382.5L1372.5 382.5L1327.5 382.5L1282.5 382.5L1237.5 382.5L1192.5 382.5L1147.5 382.5L1102.5 382.5L1057.5 427.5L1012.5 427.5L967.5 427.5L922.5 427.5L877.5 427.5L832.5 427.5L787.5 472.5L742.5 472.5L697.5 472.5L652.5 472.5L607.5 472.5L562.5 472.5' stroke='url(%26quot%3b%23SvgjsLinearGradient1184%26quot%3b)' stroke-width='7.5'%3e%3c/path%3e%3cpath d='M551.25 472.5 a11.25 11.25 0 1 0 22.5 0 a11.25 11.25 0 1 0 -22.5 0zM1046.25 472.5 a11.25 11.25 0 1 0 22.5 0 a11.25 11.25 0 1 0 -22.5 0zM1316.25 427.5 a11.25 11.25 0 1 0 22.5 0 a11.25 11.25 0 1 0 -22.5 0zM866.25 472.5 a11.25 11.25 0 1 0 22.5 0 a11.25 11.25 0 1 0 -22.5 0zM956.25 472.5 a11.25 11.25 0 1 0 22.5 0 a11.25 11.25 0 1 0 -22.5 0zM1181.25 472.5 a11.25 11.25 0 1 0 22.5 0 a11.25 11.25 0 1 0 -22.5 0z' fill='url(%26quot%3b%23SvgjsLinearGradient1184%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1183'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='381.9744' y1='725.9839999999999' x2='1274.0256' y2='-165.984' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1184'%3e%3cstop stop-color='rgba(58%2c 124%2c 195%2c 1)' offset='0.2'%3e%3c/stop%3e%3cstop stop-color='rgba(248%2c 0%2c 41%2c 1)' offset='0.92'%3e%3c/stop%3e%3c/linearGradient%3e%3cmask id='SvgjsMask1185'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3cpath d='M826.87 292.5 a5.63 5.63 0 1 0 11.26 0 a5.63 5.63 0 1 0 -11.26 0zM736.87 337.5 a5.63 5.63 0 1 0 11.26 0 a5.63 5.63 0 1 0 -11.26 0zM916.87 337.5 a5.63 5.63 0 1 0 11.26 0 a5.63 5.63 0 1 0 -11.26 0zM691.87 247.5 a5.63 5.63 0 1 0 11.26 0 a5.63 5.63 0 1 0 -11.26 0zM871.87 247.5 a5.63 5.63 0 1 0 11.26 0 a5.63 5.63 0 1 0 -11.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M1096.87 247.5 a5.63 5.63 0 1 0 11.26 0 a5.63 5.63 0 1 0 -11.26 0zM1276.87 202.5 a5.63 5.63 0 1 0 11.26 0 a5.63 5.63 0 1 0 -11.26 0zM1141.87 202.5 a5.63 5.63 0 1 0 11.26 0 a5.63 5.63 0 1 0 -11.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M736.87 382.5 a5.63 5.63 0 1 0 11.26 0 a5.63 5.63 0 1 0 -11.26 0zM1006.87 337.5 a5.63 5.63 0 1 0 11.26 0 a5.63 5.63 0 1 0 -11.26 0zM601.87 427.5 a5.63 5.63 0 1 0 11.26 0 a5.63 5.63 0 1 0 -11.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M871.87 157.5 a5.63 5.63 0 1 0 11.26 0 a5.63 5.63 0 1 0 -11.26 0zM961.87 112.5 a5.63 5.63 0 1 0 11.26 0 a5.63 5.63 0 1 0 -11.26 0zM916.87 202.5 a5.63 5.63 0 1 0 11.26 0 a5.63 5.63 0 1 0 -11.26 0zM1321.87 112.5 a5.63 5.63 0 1 0 11.26 0 a5.63 5.63 0 1 0 -11.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M556.87 472.5 a5.63 5.63 0 1 0 11.26 0 a5.63 5.63 0 1 0 -11.26 0zM1051.87 472.5 a5.63 5.63 0 1 0 11.26 0 a5.63 5.63 0 1 0 -11.26 0zM1321.87 427.5 a5.63 5.63 0 1 0 11.26 0 a5.63 5.63 0 1 0 -11.26 0zM871.87 472.5 a5.63 5.63 0 1 0 11.26 0 a5.63 5.63 0 1 0 -11.26 0zM961.87 472.5 a5.63 5.63 0 1 0 11.26 0 a5.63 5.63 0 1 0 -11.26 0zM1186.87 472.5 a5.63 5.63 0 1 0 11.26 0 a5.63 5.63 0 1 0 -11.26 0z' fill='black'%3e%3c/path%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: white;
    font-size:35px;
    letter-spacing: 1px;

}
span{
    color: red;
}
nav ul li{
    list-style-type:none ;
    display: inline-block;
    padding: 10px 25px;
}  
nav ul li a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color:#f9004d;
    transform: .4s;

}
.btn{
    background-color: #f9004d;
    color:white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition:transform.4s;
}
.btn:hover{
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left:8%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size:75px; 
}
h3{
    color:white;
    font-size: 25px;
    margin-bottom:50px;
}
h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color:black;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1455' height='562' preserveAspectRatio='none' viewBox='0 0 1455 562'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1310%26quot%3b)' fill='none'%3e%3crect width='1455' height='562' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1311%26quot%3b)'%3e%3c/rect%3e%3cpath d='M536.01-62.36C436.97-20.73 512.68 262.88 286.2 287.3 59.71 311.72-81.62 453.65-213.43 455.9' stroke='rgba(255%2c 0%2c 0%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M966.59-111.95C787.89-58.44 736.28 444.24 475.25 449.57 214.21 454.9 117.22 245.85-16.1 241.63' stroke='rgba(255%2c 0%2c 0%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M923.12-96.72C764.47-76.21 669.03 286.86 411.13 287.09 153.23 287.32 42.35 35.76-100.86 28.57' stroke='rgba(255%2c 0%2c 0%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1288.15-7.91C1107.46-2.19 976.88 266.16 622.19 273.84 267.5 281.52 130.63 479.38-43.77 481.78' stroke='rgba(255%2c 0%2c 0%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M966.35-22.34C852.88-9.03 901.47 231.91 595.05 244.09 288.63 256.27 48.1 488.15-147.54 491.37' stroke='rgba(255%2c 0%2c 0%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1310'%3e%3crect width='1455' height='562' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='84.66%25' y1='-39.72%25' x2='15.34%25' y2='139.72%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1311'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: #f9004d;
    color:white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border:2px solid #f9004d;
    cursor:pointer;
}
.service{
    background-color: black;
    width: 100%;
    padding: 100px 0px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1165%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M -1300.8534725817567%2c252 C -1156.85%2c276.4 -868.85%2c380.4 -580.8534725817566%2c374 C -292.85%2c367.6 -148.85%2c197.8 139.1465274182434%2c220 C 427.15%2c242.2 598.98%2c517.2 859.1465274182434%2c485 C 1119.32%2c452.8 1323.83%2c144.2 1440%2c59' stroke='rgba(251%2c 253%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -937.466605091707%2c416 C -793.47%2c387.6 -505.47%2c283.4 -217.46660509170704%2c274 C 70.53%2c264.6 214.53%2c377.8 502.53339490829296%2c369 C 790.53%2c360.2 1035.04%2c233.6 1222.5333949082928%2c230 C 1410.03%2c226.4 1396.51%2c326.8 1440%2c351' stroke='rgba(251%2c 253%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -181.64516657900174%2c252 C -37.65%2c269.2 250.35%2c370.2 538.3548334209983%2c338 C 826.35%2c305.8 970.35%2c64.4 1258.3548334209981%2c91 C 1546.35%2c117.6 1942.03%2c435 1978.3548334209981%2c471 C 2014.68%2c507 1547.67%2c311 1440%2c271' stroke='rgba(251%2c 253%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1165'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

}
.title h2{
    color: white;
    font-size: 75px;
    width:1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background:#191919;
    border-radius: 20px;
    margin:15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;

}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;

}
.card .button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border:2px solid #f9004d;
    cursor:pointer;
}